In [ ]:
# This notebook will be used in co-op exclusive data
# That is, the home type from street easy was pre selected as coop

In [2]:
import numpy as np 
import pandas as pd 
df = pd.read_csv('data/medianAskingPrice_Coop.csv')
df.head(10)

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2021-10,2021-11,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07
0,All Downtown,Manhattan,submarket,749000.0,749000.0,699000.0,699000.0,689000.0,677000.0,650000.0,...,950000.0,950000.0,899000.0,934500.0,929500.0,950000.0,995000.0,999000.0,999498.0,995000.0
1,All Midtown,Manhattan,submarket,595000.0,597000.0,597000.0,599000.0,599000.0,599000.0,575000.0,...,699000.0,699000.0,710000.0,699000.0,699000.0,699000.0,725000.0,729000.0,725000.0,699000.0
2,All Upper East Side,Manhattan,submarket,900500.0,895000.0,895000.0,895000.0,870000.0,859000.0,850000.0,...,1195000.0,1212500.0,1198500.0,1196000.0,1197500.0,1175000.0,1195000.0,1200000.0,1200000.0,1199000.0
3,All Upper Manhattan,Manhattan,submarket,349000.0,349000.0,349500.0,342750.0,339000.0,344000.0,349000.0,...,475000.0,470000.0,449000.0,467000.0,475000.0,477500.0,482500.0,467500.0,475000.0,458000.0
4,All Upper West Side,Manhattan,submarket,729023.0,769500.0,787000.0,750000.0,760000.0,719000.0,725000.0,...,998000.0,999000.0,995000.0,985000.0,1030000.0,1095000.0,1250000.0,1212500.0,1097000.0,1095000.0
5,Astoria,Queens,neighborhood,NaN,NaN,NaN,NaN,285000.0,330000.0,330000.0,...,445000.0,446500.0,449000.0,459000.0,448000.0,422500.0,427000.0,411000.0,399499.0,398500.0
6,Auburndale,Queens,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Bath Beach,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,329000.0,329000.0,292500.0,300000.0,305000.0,329000.0,354944.0,380000.0,375000.0,377000.0
8,Battery Park City,Manhattan,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1575000.0,1510000.0,1430000.0,1540000.0,1375000.0,2090000.0,1890000.0
9,Bay Ridge,Brooklyn,neighborhood,272000.0,272000.0,274900.0,274450.0,269000.0,268000.0,271500.0,...,372000.0,372000.0,375000.0,365000.0,365000.0,365000.0,375000.0,385000.0,375000.0,365000.0

In [26]:
# Define Neighborhoods of interest

myinterest = ['Chelsea','West Chelsea','East Village','Flatiron','Nomad','Gramercy Park','Greenwich Village',
'Noho', 'Little Italy', 'Lower East Side','Nolita', 'Soho', 'Hudson Square', 'Midtown', 'Kips Bay',
'Murray Hill','Midtwon South','Hells Kitchen', 'Hudson Yards','Chinatown','Tribeca']
len(myinterest)

21

In [40]:
# 
discountDF = pd.read_csv('rentData/discountShare_TwoBd.csv')
priceDF = pd.read_csv('rentData/medianAskingRent_TwoBd.csv')
inventoryDf = pd.read_csv('rentData/rentalInventory_TwoBd.csv')

priceDF1 = priceDF[priceDF['areaName'].isin(myinterest)].set_index('areaName')

# Last 6 months 
pastsix = priceDF1.loc[:,'2022-02':'2022-07'] 
pastsix['Price'] = pastsix.mean(axis=1)
pastsix

discountDF

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2021-10,2021-11,2021-12,2022-01,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07
0,All Downtown,Manhattan,submarket,0.106,0.086,0.097,0.089,0.066,0.074,0.083,...,0.186,0.171,0.129,0.148,0.130,0.167,0.119,0.119,0.119,0.148
1,All Midtown,Manhattan,submarket,0.118,0.066,0.096,0.060,0.059,0.079,0.093,...,0.155,0.202,0.146,0.142,0.138,0.157,0.140,0.108,0.107,0.168
2,All Upper East Side,Manhattan,submarket,0.134,0.093,0.113,0.086,0.088,0.097,0.102,...,0.125,0.132,0.101,0.122,0.082,0.118,0.091,0.095,0.096,0.115
3,All Upper Manhattan,Manhattan,submarket,0.073,0.092,0.107,0.071,0.076,0.096,0.063,...,0.144,0.113,0.085,0.088,0.094,0.088,0.069,0.072,0.080,0.084
4,All Upper West Side,Manhattan,submarket,0.084,0.103,0.094,0.059,0.075,0.053,0.064,...,0.202,0.230,0.224,0.191,0.205,0.211,0.125,0.130,0.138,0.224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Windsor Terrace,Brooklyn,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.263,0.000,NaN,0.062,0.062,0.000,0.059,0.000,0.235,0.222
194,Woodhaven,Queens,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.250,NaN,NaN,NaN,NaN,NaN,NaN
195,Woodlawn,Bronx,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Woodside,Queens,neighborhood,NaN,NaN,NaN,0.000,NaN,NaN,NaN,...,0.133,0.077,0.095,0.050,0.158,0.107,0.000,NaN,0.000,0.056
197,Woodstock,Bronx,neighborhood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
inventory = inventoryDf[inventoryDf['areaName'].isin(myinterest)].set_index('areaName')
inventory = inventory.loc[:,'2022-02':'2022-07']
inventory['Inventory'] =inventory.mean(axis=1)
inventory

,2022-02,2022-03,2022-04,2022-05,2022-06,2022-07,Inventory
areaName,,,,,,,
Chelsea,104.0,114.0,112.0,130.0,153.0,154.0,127.833333
Chinatown,13.0,18.0,18.0,14.0,17.0,14.0,15.666667
East Village,160.0,217.0,281.0,332.0,406.0,443.0,306.500000
Flatiron,57.0,80.0,89.0,90.0,101.0,106.0,87.166667
Gramercy Park,33.0,38.0,41.0,63.0,56.0,62.0,48.833333
Greenwich Village,41.0,40.0,58.0,79.0,86.0,106.0,68.333333
Little Italy,15.0,13.0,11.0,18.0,24.0,28.0,18.166667
Lower East Side,136.0,173.0,190.0,222.0,224.0,250.0,199.166667
Midtown,60.0,80.0,67.0,72.0,76.0,85.0,73.333333
Nolita,15.0,26.0,37.0,33.0,57.0,76.0,40.666667
Soho,44.0,42.0,59.0,64.0,74.0,68.0,58.500000
Tribeca,45.0,41.0,34.0,59.0,77.0,79.0,55.833333

In [42]:
from dis import dis


def sixmonthAVG(hoodsOfInterest): 
    discountDF = pd.read_csv('rentData/discountShare_TwoBd.csv')
    priceDF = pd.read_csv('rentData/medianAskingRent_TwoBd.csv')
    inventoryDF = pd.read_csv('rentData/rentalInventory_TwoBd.csv')

    
    
    # Initilalize DataFrame
    result = pd.DataFrame()

    # Inventory avg (1st column)
    inventoryDF = inventoryDF[inventoryDF['areaName'].isin(hoodsOfInterest)].set_index('areaName')
    result['AVG Inventory'] = inventoryDF.loc[:,'2022-02':'2022-07'].mean(axis=1)

    # Price avg
    priceDF = priceDF[priceDF['areaName'].isin(hoodsOfInterest)].set_index('areaName')
    result['AVG Price'] = priceDF.loc[:,'2022-02':'2022-07'].mean(axis=1)

    # Discount Avg
    discountDF = discountDF[discountDF['areaName'].isin(hoodsOfInterest)].set_index('areaName')
    result['AVG Price Reduction'] = discountDF.loc[:,'2022-02':'2022-07'].mean(axis=1)

    return result

sixmonthAVG(myinterest)

                   AVG Inventory     AVG Price  AVG Price Reduction
areaName
Chelsea               127.833333   7184.666667             0.166833
Chinatown              15.666667   3449.666667             0.047600
East Village          306.500000   4297.000000             0.128167
Flatiron               87.166667   8693.500000             0.197833
Gramercy Park          48.833333   4940.000000             0.109000
Greenwich Village      68.333333   6815.666667             0.099833
Little Italy           18.166667   4036.666667             0.057400
Lower East Side       199.166667   4268.333333             0.115333
Midtown                73.333333   6913.166667             0.137167
Nolita                 40.666667   4997.500000             0.118333
Soho                   58.500000   8532.500000             0.105167
Tribeca                55.833333  10216.666667             0.114500